#parent {
    -fx-background-color: white;
}

.label36 {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 36;
}

.label18 {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 18;
}

.label16 {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 16;
}

.label14 {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 14;
}

.label12 {
    -fx-font-family: "Calibri Light";
    -fx-font-size: 12;
}

.candara18 {
    -fx-font-family: "Candara Light";
    -fx-font-size: 18;
}

.candara16 {
    -fx-font-family: "Candara Light";
    -fx-font-size: 16;
}

.candara14 {
    -fx-font-family: "Candara Light";
    -fx-font-size: 14;
}

.candara12 {
    -fx-font-family: "Candara Light";
    -fx-font-size: 12;
}

.title {
    -fx-font-family: "Corbel Light";
    -fx-font-size: 36;
}

.reference {
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 12;
}