.menu-button {
    -fx-font-weight: normal;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-font-weight: bold;
}

.menu-item {
    -fx-font-weight: normal;
}

.menu-item:hover .menu-item:focused .menu-item:showing {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-text-fill: black;
}

#menu-bar {
    -fx-background-color: white;
}

.topbar {
    -fx-background-color: white;
}

.topLabel {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-font-family: "Calibri Light";
    -fx-font-size: 16;
}

#translator {
    -fx-background-color: white;
}

.home {
    -fx-font-size: 14;
}