.progress-bar {
    -fx-indeterminate-bar-length: 60;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: true;
    -fx-indeterminate-bar-animation-time: 2;
}

.progress-bar > .track {
    -fx-text-box-border: black;
    -fx-control-inner-background: black;
    -fx-background-color: black;
}

.progress-bar .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-color: white;
    -fx-background-radius: 2;
}

.label {
    -fx-padding: 2px;
    -fx-text-fill: white;
}

.progress-bar:indeterminate .bar {
    -fx-background-color: linear-gradient(to left, transparent, -fx-accent);
}

.progress-bar:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.pane {
    -fx-background-color: black;
}