#buttonlink {
    -fx-underline: false;
    -fx-border-color: transparent;
    -fx-text-alignment: center;
}

.tab:selected .tab-label .tablabel {
    -fx-background-color: #add8e6;
}

.focusedTab {
    -fx-background-color: #add8e6;
}

.unfocusedTab {
    -fx-background-color: #ffffbf;
}

