.statusbar {
    -fx-border-color: black;
    -fx-border-width: 0.2px;
}

.widgetLabel {
    -fx-background-color: white;
}

.header {
    -fx-font-family: "Calibri Light", sans-serif;
    -fx-font-size: 18;
    -fx-text-fill: #9f9f9f;
}

.below {
    -fx-font-size: 11;
    -fx-font-family: "Courier New";
    -fx-text-fill: #9f9f9f;
}

.tableHeader {
    -fx-font-family: "Calibri Light", sans-serif;
    -fx-font-size: 14;
}

.table {
    -fx-font-family: "Calibri Light", sans-serif;
    -fx-font-size: 12;
}