@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@font-face {
    font-family: Quicksand;
    src: url("../fonts/Quicksand/Quicksand-VariableFont_wght.ttf") format('truetype');
}

@font-face {
    font-family: Quicksand Bold;
    src: url("../fonts/Quicksand/static/Quicksand-Bold.ttf") format('truetype');
}

@font-face {
    font-family: Quicksand Light;
    src: url("../fonts/Quicksand/static/Quicksand-Light.ttf") format('truetype');
}

@font-face {
    font-family: Quicksand Medium;
    src: url("../fonts/Quicksand/static/Quicksand-Medium.ttf") format('truetype');
}

@font-face {
    font-family: Quicksand Regular;
    src: url("../fonts/Quicksand/static/Quicksand-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Quicksand SemiBold;
    src: url("../fonts/Quicksand/static/Quicksand-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "Math Major", sans-serif;
    src: url("../fonts/MathMajor/Math Major.ttf") format('truetype');
}

body {
    font-family: Quicksand, sans-serif;
}

h3 {
    color: #F4AC41;
    margin-bottom: 0;
    font-family: Quicksand SemiBold, sans-serif;
}

b {
    font-family: "Math Major", sans-serif;
}

p {
    font-family: Quicksand Regular, sans-serif;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #f8f8f8;
    resize: none;
    border: 6px solid #CCC;
    outline: none;
    width: 100%;
    color: black;
}